*{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

body{
background-color: #000000;
}



#menubtn {
	height:2em;
	width:60%;
	left:20%;
	right:20%;
	text-align:center;
	z-index: 200;
	position: fixed !important;
	bottom: 0;
   border-top: 1px solid #878787;
   background: #454545;
   background: -webkit-gradient(linear, left top, left bottom, from(#1f1f1f), to(#454545));
   background: -webkit-linear-gradient(top, #1f1f1f, #454545);
   background: -moz-linear-gradient(top, #1f1f1f, #454545);
   background: -ms-linear-gradient(top, #1f1f1f, #454545);
   background: -o-linear-gradient(top, #1f1f1f, #454545);
   padding: 2px 4px;
   -webkit-border-radius: 1.4em;
   -moz-border-radius: 1.4em;
   border-radius: 1.25em;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 1px;
   color: white;
   font-size: 1em;
   font-family: Helvetica, Arial, Sans-Serif;
   }
   
#menubtn:hover {
   box-shadow:inset 1px 2px 6px rgba(0,0,1,0.7);
   }
   
#pc-btn-l{
	height:2em;
	width:6%;
	left:5%;
	z-index: 200;
	position: fixed !important;
	bottom: 0px;
	background:url(../images/pc-btn-l.png) center center no-repeat !important;
	-webkit-background-size:100% 100%;
}
#pc-btn-r{
	height:2em;
	width:6%;
	right:5%;
	z-index: 200;
	position: fixed !important;
	bottom: 0px;
	background:url(../images/pc-btn-r.png) center center no-repeat !important;
	-webkit-background-size:100% 100%;
}
/*
*menu���������ʽ��ʼ
*/
#menu{
	background: #000;
	background-image: -webkit-linear-gradient(-45deg, rgba(50,50,50,0), rgba(50,50,50,.1) 50%, rgba(0,0,0,0) 50%), -webkit-linear-gradient(#1d1d1d,#939393,#1d1d1d);
	background-image: -moz-linear-gradient(-45deg, rgba(50,50,50,0), rgba(50,50,50,.1) 50%, rgba(0,0,0,0) 50%), -moz-linear-gradient(#1d1d1d,#939393,#1d1d1d);
	background-image: -ms-linear-gradient(-45deg, rgba(50,50,50,0), rgba(50,50,50,.1) 50%, rgba(0,0,0,0) 50%), -ms-linear-gradient(#1d1d1d,#939393,#1d1d1d);
	background-image: -o-linear-gradient(-45deg, rgba(50,50,50,0), rgba(50,50,50,.1) 50%, rgba(0,0,0,0) 50%), -o-linear-gradient(#1d1d1d,#939393,#1d1d1d);
	background-image: linear-gradient(-45deg, rgba(50,50,50,0), rgba(50,50,50,.1) 50%, rgba(0,0,0,0) 50%), linear-gradient(#1d1d1d,#939393,#1d1d1d);
	/*padding: 20px 10px;
	width: 240px;*/
	text-shadow: 0 1px 1px rgba(0,0,0,.7);
	margin: 0 auto;
	border-radius: 5px;
	font-weight: bold;
	font-size:0.8em;
	box-shadow: 0 0 7px 3px rgba(123,124,125,.3), inset 0 0 0 1px rgba(130,131,131,.2), inset 0 1px 0 rgba(255,255,255,.2), 0 0 0 1px #012;
	
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: .2s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-delay: .2s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-ms-animation-duration: 1s;
	-ms-animation-delay: .2s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	-o-animation-duration: 1s;
	-o-animation-delay: .2s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both;
	animation-duration: 1s;
	animation-delay: .2s;
	animation-timing-function: ease;
	animation-fill-mode: both;
	
	position:absolute;
	height:42%;
	width:80%;
	left:10%;
/*	border: 1px solid rgba(255,255,255,0.12);
border-radius: 16px;
background-image: -webkit-gradient(linear, left top, right bottom, from(#e8e8e8), to(#797a7a));
background-image: -webkit-linear-gradient(336deg, #e8e8e8, #797a7a);
background-image: -moz-linear-gradient(336deg, #e8e8e8, #797a7a);
background-image: -o-linear-gradient(336deg, #e8e8e8, #797a7a);
background-image: -ms-linear-gradient(336deg, #e8e8e8, #797a7a);
background-image: linear-gradient(336deg, #e8e8e8, #797a7a);
-webkit-box-shadow: 0 0 25px rgba(194,195,196,0.74);
-moz-box-shadow: 0 0 25px rgba(194,195,196,0.74);
box-shadow: 0 0 25px rgba(194,195,196,0.74);*/

	top:16%;
	
}


.hidden{
	display: none;
}
/*
*menu���������ʽ����
*/

.menuposition_af{
	display: block !important;
}

.menulist{
   list-style:none;
   margin:0; 
   padding:5%;
   z-index:200 !important;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 1.3em;
   font-weight:bold;
   font-family: Helvetica, Arial;
   text-decoration: none;
   vertical-align: middle;
   text-align : center;
   line-height: 1em;
}
li:hover{
	font-size:1.1em;
}
